.main_chat
  .main_chat__group_info
    .main_chat__group_info__menu
      .main_chat__group_info__menu__name
        test
      .main_chat__group_info__menu__member
        Member : masa
    .main_chat__group_info__button
      = link_to 'Edit', "https://www.facebook.com/", class: "under_line" 
  

  .main_chat__message_list
    .main_chat__message_list__menu
      .main_chat__message_list__menu__name
        masa
      .main_chat__message_list__menu__datetime
        2019/11/20(Wed) 17:43:01
    .main_chat__message_list__message
      おはよう!
    .main_chat__message_list__menu
      .main_chat__message_list__menu__name
        masa
      .main_chat__message_list__menu__datetime
        2019/11/20(Wed) 17:43:01
    .main_chat__message_list__message
      おはよう!


  .main_chat__message_form
    .main_chat__message_form__message_image_send
      //でかい箱を作る(入力フォームと画像アイコンとSENDボタンを入れるやつ)
      .main_chat__message_form__message_image_send__message
        type a message
      .main_chat__message_form__message_image_send__image
        //画像アイコンとファイル選択ボタンを重ねるイメージ
        %label{class: "input-box__image"}
          = icon('far', 'image')
          %input{type: "file" ,class: "file_choose"}
    .main_chat__message_form__message_image_send__send
      Send
      