.side_bar
  .side_bar__name
    .side_bar__name__menu
      .side_bar__name__menu__text 
        masa
      %ul.side_bar__name__menu__icon
        %li.edit
          = link_to "https://www.facebook.com/" do
            //= icon('fab', 'facebook-square')
            = icon('fas', 'edit')
        %li.cog
          = link_to "https://twitter.com/" do
            //= icon('fab', 'twitter')
            = icon('fas', 'cog')
  .side_bar__group_list
    .side_bar__group_list__menu 
      .side_bar__group_list__menu__group_name 
        sample
      .side_bar__group_list__menu__group_message 
        まだメッセージがありません
    .side_bar__group_list__menu
      .side_bar__group_list__menu__group_name 
        sample
      .side_bar__group_list__menu__group_message 
        まだメッセージがありません