* {
  box-sizing: border-box;
}

.wrapper {
  display: flex;
}

.side_bar {
  flex-direction: column;
  width: 300px;
  color: $side_bar_color;
  &__name {
    background-color: $side_bar__name;
    width: $side_bar_width;
    height: 100px;
    display: flex;
    align-items: center;
    &__menu {
      width: 260px;
      height: 20px;
      margin: 0px 20px;
      display: flex;
      justify-content: space-between;
      &__text {
        width: 60px;
        height: 20px;
        font-size: 16px;
        font-weight: bold;
      }
      &__icon {
        .edit {
          a {
            text-decoration: $icon-style;
            color: $side_bar_color;
          }
        }
        .cog {
          a {
            text-decoration: $icon-style;
            color: $side_bar_color;
          }
          margin-left: 5px;
        }
        width: 60px;
        height: 20px;
        display: flex;
        justify-content: flex-end;
      }
    }
  }
  &__group_list {
    background-color: #2f3e51;
    width: $side_bar_width;
    height: calc(100vh - 100px);
    padding: 0px 20px;
    overflow: scroll;
    &__menu{
      height: calc(20px + 15px + 5px + 11px + 40px);
      &__group_name {
      height: calc(20px + 15px + 5px);
      padding-top: 20px;
      padding-bottom: 5px;
      font-size: 15px;
    }
      &__group_message {
        height: calc(11px + 40px);
        padding-bottom: 40px;
        margin-top: 5px;
        font-size: 11px;
      }
    }
  }
}


.main_chat {
  flex-direction: column;
  &__group_info {
    background-color: $main_chat_background-color;
    width: calc(100vw - 300px);
    height: $main_chat_height;
    border-bottom: 1px solid #eeeeee;
    display: flex;
    justify-content: space-between;
    &__menu {
      height: $main_chat_height;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding-left: 40px;
      &__name {
        height: calc(35px + 20px);
        padding-top: 35px;
        font-size: 20px;
        color: $main_chat_name;
      }
      &__member {
        height: calc(15px + 20px);
        padding-top: 15px;
        font-size: 12px;
        color: $main_chat_color_MemberDatetimeFormtext;
      }
    }
    &__button {
      a {
        text-decoration: none;
        color: $main_chat_button;
      }
        height: 40px;
        margin-top: 28px;
        margin-right: 40px;
        line-height: 40px;
        padding: 0px 20px;
        border: 1px solid $main_chat_button;
        font-size: 16px;
    }
  }
  &__message_list {
    background-color: #fafafa;
    width: calc(100vw - 300px);
    height: calc(100vh - (100px + 90px) );
    padding-left: 40px;
    overflow: scroll;
    &__menu {
      display: flex;
      margin-top: 35px;
      margin-bottom: 12px;
      &__name {
        font-size: 16px;
        color: $main_chat_name;
      }
      &__datetime {
        font-size: 12px;
        color: $main_chat_color_MemberDatetimeFormtext;
        margin-left: 10px;
      }
    }
    &__message {
      font-size: 14px;
      color: #434a54;
    }
  }

  &__message_form {
    background-color: #dddddd;
    height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px 20px 40px;
    &__message_image_send{
      width: 100%;
      height: 50px;
      display: flex;
      background-color: $main_chat_background-color;
      &__message{
        width: 100%;
        height: 50px;
        line-height: 50px;
        color: $main_chat_color_MemberDatetimeFormtext;
        padding-left: 15px;
      }
      &__image {
        height: 50px;
        padding-right: 10px;
      }
      &__send {
      height: 50px;
      background-color: $main_chat_button;
      line-height: 50px;
      margin-left: 15px;
      padding: 0px 30px;
      color: #ffffff;
      }
      
    }
  }
}

.input-box__image {
  height: 50px;
  line-height: 50px;
  font-size: 1.5em;
}

.file_choose {
  display: none;
}

.under_line {
  text-decoration: none;
}
