$side_bar__name: #253141;
$side_bar_width: 300px;
$side_bar_color: #ffffff;
$icon-style: none;
$main_chat_height: 100px;
$main_chat_background-color: #ffffff;
$main_chat_color_MemberDatetimeFormtext: #999999;
$main_chat_name: #333333;
$main_chat_button: #38aef0;
